@charset "UTF-8";

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
}

body{
    color: purple;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-color: black;
}

mark{
    background-color: rgb(212, 25, 212);
}

a{
    color: white;
}

    

