@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;   
}

body {
    background-image: linear-gradient(to right, #000000, #666666, #ffffff);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #000000;
    width: 700px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #666666;
    text-align: center;
    text-shadow: 1px 1px 2px #3A3939; 
}

h2 {
    color: #3A3939;
}

a{
    color: #3A3939;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px
}

.image-container img {
    max-width: 200px;
    height: auto;
}
